# Node modules
node_modules/

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dist directory
dist/

# Local environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# MacOS files
.DS_Store

# TypeScript cache
*.tsbuildinfo

# Output of ESLint
eslintcache

# Coverage directory used by tools like istanbul
coverage/

# Temporary folders
tmp/
temp/
